name: test
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.7

      - name: Run custom action
        uses: ./
        with:
          names: test-repo-1,test-repo-2
          trusted_org: ${{ secrets.AWS_ORG_ID }}

