name: test
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required for aws-actions/configure-aws-credentials
    steps:
      - uses: actions/checkout@v4 # https://github.com/actions/checkout/releases
      - uses: hashicorp/setup-terraform@v3 # https://github.com/hashicorp/setup-terraform/tags
        with:
          terraform_version: 1.5.7 # https://github.com/hashicorp/terraform/tags
          terraform_wrapper: false

      - name: Simple example
        uses: ../.. # path to the action
        with:
          names: 'test-repo-1,test-repo-2'
          trusted_org: '${{ vars.AWS_ORG_ID }}'
